extends layout

block content
	h3 Eloqua form:
	select(name = "dropdown", id="configurationSelect")
		option(selected disabled) -- None --

	input#configInstanceId(type="hidden", value="#{instanceId}")

	#ResultDiv
	#formDetailsDiv

	input#saveMappingButton(class="saveButton", type="button", value="Save", disabled="disabled")

	p#textUpdate 

	script(src="//code.jquery.com/jquery-2.2.0.min.js")
	script(src="/javascripts/main.js")

	script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js")
